<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('images/book_a_boat.jpg');">
    <div class="card-category">HTML, CSS, Javascript, Ruby on Rails</div>
    <div class="card-description">
      <h2>Book-a-Book</h2>
      <p>An app that allows people to rent their boats.</p>
    </div>

    <a class="card-link" href="https://bookaboat-cradio.herokuapp.com/" ></a>

</div>

<!--     <a class="card-link" href="#" type="button" class="btn btn-primary" data-toggle="modal" data-target=".bookaboat" ></a>
    <div class="modal fade bookaboat" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <h2>Book-a-boat</h2>
          <p>This was app that help people book boats just like airb&b.</p>
          <a href="https://bookaboat-cradio.herokuapp.com/" target="_blank">View Site here</a>
        </div>
      </div>
  </div>
</div> -->
