<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/Hamorim85"><i class="fab fa-github-alt"></i></a>
    <a href="https://www.facebook.com/wdsHugo"><i class="fab fa-facebook-f"></i></a>
    <a href="https://twitter.com/TheAmazingHugo"><i class="fab fa-twitter"></i></a>
    <a href="https://www.linkedin.com/in/hamorim/"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
      &copy;copywrite 2018. </br> <img src="images/mountain-summit.svg" alt="Mountains" style="height: 35px;">Coded in Colorado
  </div>
</div>
