<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/Hugo_Logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right  d-none d-md-block d-lg-block d-xl-block">

    <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="#projects" class="navbar-wagon-item navbar-wagon-link">Projects</a>
    <a href="#contact" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>

  <div class="col-xs-show col-sm-show menu-mobile">
    <div class="wrapper">
        <a href="/" class="navbar-wagon-brand">
          <img src="images/Hugo_Logo.png" alt="logo">
        </a>
        <button id="bt-menu-mobile">
            <span class="top"></span>
            <span class="middle"></span>
            <span class="bottom"></span>
        </button>
        <div class="clear"></div>
    </div>
    <div id="wrapper-menu-mobile">
        <div class="wrapper">
            <ul>
                <li class="first"><span>MENU</span><button id="bt-fechar-menu"><span class="">X</span></button><div class="clear"></div></li>
                <li><a href="#about">About</a></li>
                <li><a href="#projects">Project</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
        </div>
        <div class="block-menu-mobile"></div>
    </div>
  </div>
</div>


