<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <img src="images/Hugo_Logo.png" alt="logo">
  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right  d-none d-md-block d-lg-block d-xl-block">

    <a href="#about" class="navbar-wagon-item navbar-wagon-link">About</a>
    <a href="#projects" class="navbar-wagon-item navbar-wagon-link">Projects</a>
    <a href="#contant" class="navbar-wagon-item navbar-wagon-link">Contact</a>
  </div>

  <!-- Dropdown appearing on mobile only -->
  <div class="navbar-wagon-item d-md-none d-lg-none d-xl-none">
    <div class="dropdown">
      <i class="fa fa-bars dropdown-toggle" data-toggle="dropdown"></i>
      <ul class="dropdown-menu dropdown-menu-right navbar-wagon-dropdown-menu">
        <li><a href="#">About</a></li>
        <li><a href="#">Projects</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
