<div class="container" id="about">
  <div class="row">
    <div class="col-xs-12">
      <div class="about">
          <div class="info">
            <h2>About me</h2>
            <img src="images/Hugo_pic.png" alt="" class="avatar-large">
            <p>I am a full stack web developer who had previously been a graphic designer for over 10 years. After a short realization that I could build some really cool things and use both of my skill; I decided to jump into web development. I am passionate about learning and making cool things.</p>
            <br>
            <p>Here’s what I know:</p>
            <ul>
              <li>Strong understanding of HTML5 / CSS3 / JavaScript</li>
              <li>Experience with relational databases (MySQL / PostgreSQL). Currently learning non-relational (MongoDB).</li>
              <li>Knowledgeable in MVC. Building web apps with Ruby on Rails. (Currently learning React/Redux)</li>
              <li>Ability to pivot with a team/project (Agile Methodologies)</li>
              <li>Building RESTful APIs.</li>
              <li>Team player with pair programming</li>
              <li>Keen eye for design principle. (was a graphic designer in my previous life)</li>
              <li>Understanding the importance of responsive design and accessibility (Bootstrap / Flexbox / CSS Grid)</li>
              <li>Malleable - strong desire to learn and problem solve</li>
              <li>Middleman, adaptapable to learning any framework or technology</li>
              <li> Ruby, PHP or any object oriented language of the like. </li>
              <li>Wordpress and Content Management systems</li>
            </ul>
          </div>
      </div>
    </div>
  </div>
</div>
