<div class="banner" style="background: linear-gradient(355deg, rgba(0,124,186,1) 0%, rgba(43,69,112,1) 100%);">
    <div class="banner-content">
      <h1>Hello!</h1>
      <p>I am a Full Stack Web Developer.</p>
      <p>I am a tech enthusiast.</p>
      <p>I am a builder.</p>
    </div>
</div>


