<div class="container" id="about">
  <div class="row">
    <div class="col-xs-12">
      <h2>Contact Me</h2>
      <p>Email me at <a href="mailto:webmaster@example.com">hugo.amorim.dev@gmail.com</a>.<br></p>
      <p>(508)641-7062</p>
    </div>
  </div>
</div>
