
<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://unsplash.com/photos/466ENaLuhLY');">
    <div class="banner-content">
      <h1>Hello!</h1>
      <p>I love all things techs!</p>
      <a class="btn btn-primary btn-lg" href="#projects">View My Projects</a>
    </div>
</div>
<div class="container" id="about">
  <div class="row">
    <div class="col-xs-12">
      <h2>About me</h2>
      <p>I am a full stack developer that recently graduated from LeWagon Bootcamp in Rio De Janeiro. I am passionate about building cool things!</p>
      <br>
      <p>Here’s what I know:</p>
      <ul>
        <li>Strong understanding of HTML5 / CSS3 / JavaScript</li>
        <li>Experience with relational databases (MySQL / PostgreSQL). Currently leaning non-relational (MongoDB).</li>
        <li>Knowledgeable in MVC such Ruby on Rails. (Currently learning React/Redux)</li>
        <li>Ability to pivot with a team/project (Agile Methodologies)</li>
        <li>Building RESTful APIs</li>
        <li>Team player with pair programming</li>
        <li>Keen eye for design (Was a graphic designer in my previous life)</li>
        <li>Understanding the importance of responsive design and accessibility (Bootstrap / Flexbox / CSS Grid)</li>
        <li>Malleable - strong desire to learn and problem solve</li>
        <li>Middleman - adaptapable to learning any framework or technology</li>
        <li> Ruby, PHP or any object oriented language of the like. </li>
        <li>Wordpress and Content Management systems</li>
      </ul>
    </div>
  </div>
</div>

<div class="container" id="projects">
  <div class="row">
    <div class="col-xs-12">
      <h2>Projects</h2>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Book-a-Book</h2>
          <p>An app that allows people to rent their boats.</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Crad.io</h2>
          <p>Very cool city, the best</p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Overtime App</h2>
          <p>App that </p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Overtime App</h2>
          <p>App that </p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Overtime App</h2>
          <p>App that </p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('');">
        <div class="card-category">HTML, CSS, Javascript, ROR </div>
        <div class="card-description">
          <h2>Overtime App</h2>
          <p>App that </p>
        </div>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>
